<h1>You're Registered!</h1>
<p>Hi <%= @attendee.name %>,</p>

<p>You're successfully registered for <strong><%= @event.name %></strong>.</p>

<h3>Your assigned OTP is: <h2><strong><%= @attendee.otp %></strong></h2></h3>

<p>Please save this information. You’ll need it during the event.</p>

<p>We look forward to seeing you!</p>
